.footer{
	background-color: #cccccc1d;
    opacity: 0.8;
	border-top: #ccc 2px solid;
	text-align: right;
	padding: 30px ;
	color: #fff;
	margin-top: auto;
}

.footer_title{
	font-family: var(--small-headiling);
	font-size: 20px;
	color: #fff;
}
