.Create {
    display: flex;
    flex-direction: column;

    button {
        font-size: 18px;
        width: 150px;
        height: 50px;
        margin: 20px 75%;
    }
}

.Change {
    display: flex;
    flex-direction: column;

    button {
        font-size: 18px;
        width: 150px;
        height: 50px;
        margin: 20px 75%;
    }

}



.text_create {
    font-family: var(--small-headiling);
    font-size: 33px;
    color: var(--color-purple);
    padding: 0 230px 30px;
}



.inputs {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    gap: 30px;

    input {
        width: 70%;
        height: 50px;
        background-color: #111010;
        border: 3px solid #cccccc66;
        border-radius: 7px;

        color: #fff;
        font-family: var(--all-text);
        font-size: 17px;
    }

    input::placeholder {
        color: #ccc;

        padding-left: 10px;
    }
}