.notFound{
    display: flex;
    justify-content: center;
    align-items: center;


    .title{
        font-family: var(--small-headiling);
        font-size: 45px;
        color: var(--color-purple);

        text-align: center;
    }
}